:root {
  --primary: rgb(35, 47, 62);
  --secondary: rgb(238, 192, 132);
  --tertiary: rgb(171, 185, 195);
  --complimentary: rgb(105, 125, 150);
  --light: rgb(234, 234, 234);
  --dark: rgb(39, 47, 50);
  --error: rgb(242, 62, 62);

  --padd5: 5rem;
  --padd3: 3rem;
  --padd2: 2rem;
  --dropShadow: 12px 12px 16px 0 rgba(35, 47, 62, 0.226),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.364);
  --insetShadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(35, 47, 62, 0.226) inset;
}

body {
  background-color: var(--light);
  color: var(--primary);
}

header {
  background-color: var(--light);
  height: 6rem;
  box-shadow: var(--insetShadow);
  border-radius: 0.4rem;
}

button {
  background-color: var(--tertiary);
  box-shadow: var(--dropShadow);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.logo h1 {
  font-weight: 700;
  font-size: 4rem;
  color: var(--dark);
  justify-self: center;
}

nav a {
  color: var(--primary);
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 25rem;
  height: auto;
  border-radius: 5.9rem;
  padding: 2.4rem;

  box-shadow: var(--insetShadow);
}

.cardButton {
  border-radius: 5.9rem;
  padding: 0.4rem;
  border: 0.1rem solid var(--dark);
  box-shadow: var(--dropShadow);
}
.cardImg {
  object-fit: contain;
  width: 100%;
}

.cardBox button {
  width: 7rem;

  border: none;
}

svg {
  color: var(--complimentary);
}

.signupBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

input {
  border-radius: 5.9rem;
  padding: 0.4rem;
  border: 0.1rem solid var(--light);
  box-shadow: var(--dropShadow);
  width: 100%;
}

.text-left {
  width: 100%;
}
